header {
	height: 80px;
	background-color: #ecf0f1;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 1.6em;
	line-height: 1.4em;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 1em;
	line-height: 2em;
}

h4 {
	font-family: 'Indie Flower', cursive;
	color: #000;
	font-size: 1.4em;
	line-height: 1em;
}

h5 {
	font-family: 'Montserrat', sans-serif;
	color: #7f8c8d;
	font-size: 0.2em;
	line-height: 0.6em;
	padding-top: 2em;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

.menu-info {
	height: 80px;
	display: flex;
	align-items: center;
	margin-top: -80px;
}

.footer p {
	color: #fff;
}

p {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 0.8em;
	line-height: 1.6em;
}

.tel {
	margin-right: 40px;
	display: flex;
}

.tel i {
	margin-right: 5px;
	margin-top: 2px;
}

.burger_menu i {	
	margin-left: 40px;
	cursor: pointer;
}

.logo {
	position: relative;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

i.ion-navicon-round {
	font-size: 20px;
	cursor: pointer;
}

.flex-container {
	display: flex;
	justify-content: center;
}

.hero_txt,
.hero_img {
	flex: 1;
	max-width: 340px;
	padding-top: 40px;
}

.hero_txt {
	display: flex;
	flex-direction: column;
}

.hero-title-rule {
	border: 1px solid #fff;
	width: 80px;
	position: relative;
	margin-left: 0;
	margin-bottom: 20px;
}

.hero {
	background-color: #ecf0f1;
	color: #fff;
	height: 340px;
}

.about {
	margin: 40px;
}

.black {
	color: #000;
}

.about-title-rule {
	border: 1px solid #000;
	width: 40px;
	margin-top: 20px;
}

.title-rule-secondary {
	border: 1px solid #000;
	width: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.cursive {
	font-family: 'Indie Flower', cursive;
	font-size: 22px;
	color: #84bd93;
}

.profissional {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
}

.profissional_avatar img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.profissional_descricao h4 {
	margin-bottom: 10px;
}

.trabalho {
	margin-bottom: 40px;
}

.trabalho_descricao h5 {
	margin-top: 10px;
}

.missao {
	background: #ecf0f1;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.missao-rule {
	border: 1px solid #fff;
	width: 80px;
	margin-bottom: 40px;
}

.big {
	font-size: 2em;
	font-family: 'Indie Flower', cursive;
	color: #84bd93;
}

.footer {
	background: #485563;
	background: -webkit-linear-gradient(to left, #485563 , #29323c);
	background: linear-gradient(to left, #485563 , #29323c);
	color: #fff;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.about-footer-rule {
	border: 1px solid #ecf0f1;
	width: 40px;
	margin: 20px;
}

.top-banner {
	height: auto;
}

.titulo_trabalho {
	margin: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.conteudo_trabalho {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.descricao_trabalho {
	display: flex;
	justify-content: center;
	text-align: left;
	margin: 40px 0 40px 0 ;
}

.facebook_share {
	height: 100px;
	margin-bottom: 60px;
	flex-direction: column;
}

.facebook_share h5 {
	margin-bottom: 10px;
}